.NewsCard {
  position: relative;
  cursor: pointer;
  height: 250px;
  width: 445px;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 20px;
  .NewsCard-Link {
    display: block;
    &:hover > .NewsCard-Link-Img {
      transform: scale(1.2);
    }
    .NewsCard-Link-Img {
      display: block;
      width: 100%;
      transition: transform 0.3s ease-in-out;
    }
    .NewsCard-Link-Title-Wrap {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      bottom: 0;
      background: #0000009f;
      height: 50%;
      width: 100%;
      padding: 10px;
      .NewsCard-Link-Title {
        color: #fff;
        font-size: 1.5rem;
        margin: inherit;
      }
    }
  }
}
