@mixin mainBlock {
  display: flex;
  flex-flow: column;
  max-width: 80%;
  min-width: min-content;
  width: 80%;
  margin-bottom: 30px;
}
@mixin headerMainStyle {
  padding-bottom: 10px;
  border-bottom: 1px solid #ebecec;
  min-width: min-content;
  max-width: min-content;
  transition: max-width 1s ease-in;
}
@mixin mainContainer {
  margin-top: 20px;
  overflow: hidden;
}
