.ContactPage {
  height: 100%;
  .ContactPage-Content {
    width: fit-content;
    margin: 0 auto;
    .ContactPage-Content-Card {
      height: 100vh;
      display: flex;
      align-items: center;
      opacity: 0;
      transition: opacity 1s ease-out;
    }
  }
}
