@import "./variables";
@import "./custom-bootstrap";
.News {
  @include mainBlock;
  margin: 0 auto;
  .News-Header {
    @include headerMainStyle;
  }
  .News-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include mainContainer;
  }
  .News-Button {
    width: 200px;
  }
  .News-Button_expand {
    margin-top: 20px;
    align-self: center;
  }
}
@import "./NewsCard";
