@import "./variables";
@import "./custom-bootstrap";
.news-block {
  @include mainBlock;
  min-width: 300;
  .main-header {
    @include headerMainStyle;
  }
  .news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mainContainer;
  }
  .btn-expand-news {
    width: 200px;
    margin: auto;
  }
}
@import "./NewsCard";
