@import "./variables";

.Page {
  height: 100%;
  display: flex;
  flex-flow: column;
  .Page-Header {
    flex: 0;
  }
  .Page-Main {
    // align-items: center;
    // justify-content: flex-start;
    overflow: hidden;
    flex: 1;
    padding: 0 20%;
  }
  .Page-Footer {
    flex: 0;
  }
}
