@import "variables";
.Theatre {
  .Theatre-Header {
    @include headerMainStyle;
    margin-left: 10%;
  }
  .Theatre-Carousel-Wrap {
    @include mainContainer;
    width: 100%;
    .Theatre-Carousel {
      height: min-content;
    }
  }
}
@import "./TheatreCard";
